.headerbox {
    background-color: rgb(56, 48, 158); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(61, 88, 139) , rgb(50, 20, 133));
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: aliceblue;
    margin: 5% 10%;
}
main section h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}
main #bar {
    height: 10px;
    border-radius: 50%;
}
#search-button {
    background-color: rgb(101, 171, 218);
    color: aliceblue;
    border: cornsilk;
}
#output-zone {
    border-radius: 5%;
}
#past-search-entry {
    color: aliceblue;
}